.container{
    width: 100%;
    height: auto;
    margin-top: auto;
}
.banner{
  position: relative;
}
.rbanner{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

}
.rbanner img{
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.fixed-header{
    background: #fb4b4b;
    text-align: center;
    width: 100%;
}
.navbar{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.navbar a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  float: left;
}

.navbar a.nav-item{
  margin-top: 0px;
}

.navbar a:hover {
  background-color: #329495;
  color: #fff;
}
.navbar .icon {
  display: none;
}

#order {
    padding: 12px;
}

.description{
    padding: 0;
    font-size: 13px;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 561px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a.nav-item {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .icon {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
    .description{
      font-size: 10px;
    }
  
}
@media screen and (max-width: 802px) {
    .description{
      font-size: 8px;
    }
    .item span{
      height: 24px;
      width: 34px;
      font-size: 11px;
    }
}

@media screen and (max-width: 744px) {
    .add button{
      height: 50px;
      width: 130px;
    }
    .add a{
      font-size: 9px;
    }
}
@media screen and (max-width: 504px) {
    .add button{
      height: 50px;
      width: 70px;
    }
    .add a{
      font-size: 7px;
    }
}